# dependencies
node_modules/
frontend/node_modules/

# next.js
.next/
frontend/.next/
out/
frontend/out/

# misc
.DS_Store
*.pem
.env*

# typescript
*.tsbuildinfo
next-env.d.ts
frontend/next-env.d.ts
